---
import Layout from "../layouts/Layout.astro";
import Fact from "../components/Fact.tsx";
import Link from "../components/Link.astro";
import youtube from "../../public/youtube.svg";
import discord from "../../public/discord.svg";
import search from "../../public/search.svg";
import yard from "../../public/TheYard.svg";
import anime from "../../public/9anime.svg";
import drive from "../../public/google-drive.svg";
import gmail from "../../public/gmail.svg";
import github from "../../public/github.svg";
import monkeytype from "../../public/monkeytype.svg";
import chat from "../../public/ChatGptLogo.svg";
import neovim from "../../public/NeovimLogo.svg";
import reddit from "../../public/reddit.svg";
import terminal from "../../public/terminal.svg";

import '../style.css'
---

<Layout title="Homepage">
	<main class="bg-gray-950 w-screen h-screen relative my-background">
		<div class="w-[35rem] h-fit bg-slate-700 p-4 inset-0 m-auto absolute rounded-xl my-shadow border-solid border-violet-600/20 border-2">
			<form
				method="get"
				action="https://duckduckgo.com/"
				target="_top"
				class="p-2 bg-slate-500 flex rounded-full"
			>
				<input
					class="pl-2 outline-none w-full bg-transparent text-white"
					type="text"
					name="q"
					placeholder="Search"
					autofocus
					autocomplete="off"
				/>
				<button class="pr-2" type="submit">
					<img src={search} alt="search icon" />
				</button>
			</form>
			<div class="p-2 grid grid-cols-3 grid-rows-4 gap-2">
				<Link color="bg-[#ff0000]" name="Youtube" link="www.youtube.com">
					<img src={youtube} alt="youtube logo" />
				</Link>
				<Link color="bg-[#834FD6]" name="Anime" link="9anime.to/home">
					<img src={anime} alt="9anime logo" />
				</Link>
				<Link
					color="bg-[#5865f2]"
					name="Discord"
					link="www.discord.com/app"
				>
					<img src={discord} alt="discord logo" />
				</Link>
				<Link
					color="bg-[#27432F]"
					name="The Yard"
					link="www.youtube.com/@TheYardPodcast"
				>
					<img src={yard} alt="the yard logo" />
				</Link>
				<Link color="bg-[#0EA882]" name="ChatGpt" link="chat.openai.com">
					<img src={chat} alt="chat gpt logo" />
				</Link>
				<Link
					color="bg-green-500"
					name="Neovim"
					link="reddit.com/r/neovim"
				>
					<img src={neovim} alt="neovim logo" />
				</Link>
				<Link
					color="bg-[#ff4500]"
					name="Unixporn"
					link="reddit.com/r/unixporn"
				>
					<img src={terminal} alt="terminal icon" />
				</Link>
				<Link
					color="bg-[#ff4500]"
					name="Ludwig"
					link="reddit.com/r/LudwigAhgren"
				>
					<img src={reddit} alt="reddit logo" />
				</Link>
				<Link color="bg-[#333]" name="Github" link="github.com">
					<img src={github} alt="github logo" />
				</Link>
				<Link
					color="bg-[#4285f4]"
					name="Google Drive"
					link="drive.google.com"
				>
					<img src={drive} alt="google drive logo" />
				</Link>	
				<Link
					color="bg-[#ea4335]"
					name="Gmail"
					link="mail.google.com/mail"
				>
					<img src={gmail} alt="gmail logo" />
				</Link>
				<Link color="bg-[#121520]" name="Monkeytype" link="monkeytype.com">
					<img src={monkeytype} alt="monkeytype logo" />
				</Link>
			</div>
			<h2 class="text-center font-bold text-slate-300">Fun Fact</h2>
			<div class="w-full h-[2px] bg-slate-300/50 my-2"></div>
			<Fact client:load />
		</div>
	</main>
</Layout>

<script>
	function isValidUrl(url) {
		try {
			new URL(url);
			return true;
		} catch (err) {
			return false;
		}
	}
    const form = document.querySelector('form');
    form.addEventListener('submit', e => {
		e.preventDefault(); // Prevent the form from submitting

		const input = document.querySelector('input[name="q"]');
		let inputValue = input.value.trim();
		if (inputValue.startsWith("/y")) {
			inputValue = inputValue.substring(3); // Remove the first two characters ("/y")
			form.action = "https://www.youtube.com/results";
			// Update the input value before submitting the form
			input.value = inputValue;
		}
		if (isValidUrl(inputValue)) {
			form.action = inputValue;
		}else if (inputValue.includes(".com")) {
			form.action = `https://${inputValue}`;
		}



		// Submit the form
		form.submit();
   	})
</script>

